{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>state</th>
                <th>stateValue</th>
                <th>deviceType</th>
                <th>pin</th>
                <th>status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.state }}</td>
                <td>{{ device.stateValue }}</td>
                <td>{{ device.deviceType }}</td>
                <td>{{ device.pin }}</td>
                <td>{{ device.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('device_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('device_edit', {'id': device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('device_new') }}">Create new</a>
{% endblock %}
