{% extends 'base.html.twig' %}

{% block title %}device{% endblock %}

{% block body %}
    <h1>device</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device.deviceId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ device.deviceName }}</td>
            </tr>
            <tr>
                <th>state</th>
                <td>{{ device.stateName }}</td>
            </tr>
            <tr>
                <th>deviceType</th>
                <td>{{ device.deviceTypeName }}</td>
            </tr>
            <tr>
                <th>pins</th>
                <td>{{ device.pins|default('None') }}</td>
            </tr>
            <tr>
                <th>Turns to open/close</th>
                <td>{{ device.turns|default('None') }}</td>
            </tr>
            <tr>
                <th>Current turn</th>
                <td>{{ device.currentTurn|default('None') }}</td>
            </tr>
            <tr>
                <th>status</th>
                <td>{{ device.status ? 'Acrive' : 'Inactive' }}</td>
            </tr>
            <tr>
                <th>correct the rotation of the engine</th>
                <td>
                    <a href="#" onclick="let application = new Application();
                            application.correctState({{ device.deviceId }}, 'UP')">UP</a> |
                    <a href="#" onclick="let application = new Application();
                            application.correctState({{ device.deviceId }}, 'DOWN')">DOWN</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('device_index') }}">back to list</a>

    <a href="{{ path('device_edit', {'id': device.deviceId}) }}">edit</a>

    <form method="post" action="{{ path('device_delete', {'id': device.deviceId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.deviceId) }}">
        <button class="btn">Delete</button>
    </form>
{% endblock %}
