<html lang="pl">
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/icons.css"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ asset('css/style.main.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ asset('img/smartphone.svg') }}" >
        <script src="{{ asset('js/Application.js') }}"></script>
        <script src="{{ asset('js/Endpoint.js') }}"></script>
        <title>{% block title %}Home control system{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="col-12 bg-color-light float-left">
            <section class="col-12 navigation bg-color-light float-left">
                <a href="{{ path('dashboard') }}" class="float-left">
                    <i class="icon icon-homecontrol"></i>
                    <span>Home control system</span>
                </a>
                <a href="{{ path('dashboard') }}" class="float-right">
                    <i class="icon icon-user"></i>
                    <span class="hide-if-less-than-600">Witaj Leszek!</span>
                </a>
            </section>
        </header>
        <nav class="col-12 bg-color-light-silver">
            <div>
                <a href=""><i class="icon icon-setting"></i><span>Settings</span></a>
                <a href=""><i class="icon icon-users"></i><span>Users</span></a>
                <a href="{{ path('device_index') }}"><i class="icon icon-devices"></i><span>Devices</span></a>
                <a href="{{ path('device_index') }}"><i class="icon icon-cctv"></i><span>CCTV</span></a>
                <a href="{{ path('device_index') }}"><i class="icon icon-drive"></i><span>Drive</span></a>
                <a href="{{ path('device_index') }}"><i class="icon icon-schedule"></i><span>Schedule</span></a>
            </div>
        </nav>
        <main class="col-12">
            {% block body %}{% endblock %}
        </main>

        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#hamburger').on('click', function () {
                    Application.toggleNavigation();
                });
            });
            $(function(){
                $('section[onload]').trigger('onload');
            });
        </script>
        {% block javascripts %}

        {% endblock %}

    </body>
</html>
