<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/icons.css') }}" rel="stylesheet">
        <link href="{{ asset('css/decorations.css') }}" rel="stylesheet">
        <link href="{{ asset('css/elements.css') }}" rel="stylesheet">
        <link href="{{ asset('css/grid.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ asset('img/smartphone.svg') }}" >
        <script src="{{ asset('js/Application.js') }}"></script>
        <script src="{{ asset('js/Endpoint.js') }}"></script>
        <title>{% block title %}Home control system{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <section class="col-12 navigation bg-color-light float-left">
                <a href="{{ path('dashboard') }}" class="float-left">
                    <i class="icon icon-homecontrol"></i>
                    <span>Home control system</span>
                </a>
                <a href="{{ path('dashboard') }}" class="float-right">
                    <i class="icon icon-user"></i>
                    <span class="hide-if-less-than-600">Witaj Leszek!</span>
                </a>
            </section>
        </header>
        <main class="container-1080 col-12">
            <section class="col-1 col-1-sm menu bg-color-light hide-if-less-than-600">
                <a href=""><i class="icon icon-setting"></i><span>Settings</span></a>
                <a href=""><i class="icon icon-users"></i><span>Users</span></a>
                <a href="{{ path('device_index') }}"><i class="icon icon-devices"></i><span>Devices</span></a>
            </section>
            <section class="col-11 navigation-container padding-0-20">
                <div class="location">Devices > doors</div>
            </section>
            <section class="col-11 col-11-sm">
                {% block body %}{% endblock %}
            </section>
        </main>

        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script>

        </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
