{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {#<h1>Hello {{ controller_name }}! ✅</h1>#}

    <form action="/change/state" method="post">

        {% for device in devices %}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ device['deviceId'] }}"

                {% if(device['state'] == 1) %}
                        checked
                {% endif %} onchange="changeState('{{ device['deviceId'] }}');">
                <label class="custom-control-label" for="{{ device['deviceId'] }}">{{ device['deviceName'] }}</label>
                <input type="hidden" name="{{ device['deviceId'] }}" id="hidden_{{ device['deviceId'] }}" value="{{ device['state'] }}">
            </div>
        {% endfor %}

        <button>Aktualizuj</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script>function changeState(id){
        let input = document.getElementById(id);
        let hiddenInput = document.getElementById("hidden_"+id);

        let valueToSet = Boolean(input.checked) ? 1 : 2;

        hiddenInput.setAttribute('value', valueToSet.toString());
}</script>
{% endblock %}

